:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.card-list {
  list-style-type: none; /* Remove bullet points */
  display: grid; /* Apply grid positioning */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid columns */
  gap: 20px; /* Add some spacing between items */
  padding: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.card-item {
  display: flex; /* Apply flexbox positioning */
  flex-direction: column; /* Stack image and text vertically */
  align-items: center; /* Center items vertically */
  margin: 10px; /* Add some spacing between items */
  background-color: #1c1c1c;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.card-item img {
  width: 100%; /* Make the image fill the width of the card */
  height: 200px; 
  object-fit: cover;
  border-radius: 10px;
}

.user-id, .title, .genre, .season, .updated {
  text-align: center;
  font-size: 16px;
}

/* NAVBAR */

.navbar h2{
color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1DB954; /* Spotify Green */
  color: #FFFFFF;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px; /* Adjust the size*/
  margin-right: 0.5rem;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}


/*some hover effects for better interactivity */
.navbar-link:hover {
  color: #1DB954; /*Spotify Green */
  background-color: #FFFFFF; /* On hover, change background to white */
  border-radius: 5px; /* Rounded corners */
  padding: 0.5rem; /*some padding */
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-link {
    margin: 0.5rem 0;
  }
}

/* Media query for iPhone SE */
@media (max-width: 320px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust the grid columns for smaller screens */
  }

  .card-item img {
    height: 150px; /* Adjust the image height for smaller screens */
  }

  .user-id, .title, .genre, .season, .updated {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
}

/* Navbar.css */
/* .navbar {
  background-color: #686868;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.navbar-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow for a nice effect 
  margin-right: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  transition: color 0.2s;
}

.navbar-link:hover {
  border-bottom: 2px solid #1db954;
} */

/* Media query for iPhone SE */
@media (max-width: 660px) {
  .navbar {
    padding: 0.5rem; 
    width: 800px;
    
  }

  .navbar-title {
    font-size: 20px; 
  }

  .navbar-link {
    font-size: 14px; 
    margin-right: 0.5rem; 
  }
}




/* Carousel Modal */
.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.slick-slide {
  padding: 0 10px;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.carousel-item img:hover {
  transform: scale(1.1);
}

.carousel-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.carousel-title:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Carousel Modal for iPhone SE and similar screens */
@media (max-width: 660px) {
  .carousel-container {
    padding: 10px;
  }

  .slick-slide {
    padding: 0 5px;
  }

  .carousel-item {
    display: inline-block;
    width: 50%;
  }

  .carousel-title {
    bottom: 5px;
    font-size: 12px;
  }
}


/* Replace with your desired styles for the modal */
.modal-content {
  background-color: #333;
  padding: 40px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: white;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #378941;
  padding: 40PX;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Add any other CSS styles for your cards and grid layout here */



.overlay img {
height: 190px;
}


/* FAVOURITE BUTTON */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.favorite-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
}

.favorite-button:hover {
  background-color: #21a1f1;
}


/* .Carousel.css carousel-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 1px;
} */

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
  margin: 0 -10px;
}

.slick-slide {
  padding: 0 10px;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
height: auto;
border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}

.carousel-item img:hover {
  transform: scale(1.1);
}

.carousel-title {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.carousel-title:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


/* PodcastModal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* PodcastModal content */
.modal-content {
  background-color: #333;
  padding: 40px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

/* Close button */
.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #378941;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-content button:hover {
  background-color: #2c7036;
}


/* PodcastDetailsSection overlay */
.overlay {
  background-color: #333;
  padding: 40px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

/* Season selection buttons */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overlay ul li {
  margin-bottom: 10px;
}

.overlay button {
  padding: 10px 20px;
  background-color: #378941;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.overlay button:hover {
  background-color: #2c7036;
}

/* Episode list */
.overlay h5 {
  margin-top: 20px;
}

.overlay ul {
  list-style: none;
  padding: 0;
}

.overlay li {
  margin-bottom: 10px;
}

.overlay audio {
  width: 100%;
  background-color: #2c7036;
  padding: 5px;
  border-radius: 5px;
}




.selected-season-button {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Filtres */

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.filters h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px;
}

.filters button {
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 30px;
  background-color: #1db954;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.filters input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid  #378941;;
  border-radius: 30px;
  font-size: 14px;
}

.filters select {
  padding: 5px;
  margin-bottom: 10px;
  margin: 10px;
  border: 1px solid #378941;;
  border-radius: 30px;
  font-size: 14px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: stretch;
  }

  .filters {
    margin-bottom: 20px;
  }
}


button {
  padding: 10px 20px;
  background-color: #378941;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}